---
import { Icon } from "astro-icon/components";
import { createCookie } from "@lib/cookies";
import { DAOUser } from "@db/models/DAOUser";
import showFormError from "@lib/showFormError";
import AdminLayout from "@layouts/AdminLayout.astro";

const formResult: FormResult = {};
if (Astro.request.method === "POST") {
    try {
        const formData = await Astro.request.formData();
        const email = (formData.get("email") as string).trim();
        const password = formData.get("password") as string;
        const user = await DAOUser.find(email, password);
        if (!user) {
            formResult.error = "Les informations données sont erronées";
        } else {
            formResult.user = user;
            createCookie(Astro.cookies, "user", user.email);
            return Astro.redirect("/admin");
        }
    } catch {
        formResult.error = true;
    }
}
---

<AdminLayout title="Portfolio Dashboard" login>
    <form method="post" class="space-y-4 flex flex-col items-center w-full mt-20 *:max-w-64 *:w-full *:py-3">
        {formResult.error && (
            <p class="text-red-500 text-center">
                {showFormError(formResult as any)}
            </p>
        )}
        <input type="email" name="email" placeholder="Adresse mail" required maxlength="255" />
        <input type="password" name="password" placeholder="Mot de passe" required maxlength="255" />
        <button type="submit" class="bg-primary text-white rounded-md">
            Se connecter
        </button>
        <p>
            <a href="/" class="underline flex items-center space-x-2 w-min">
                <Icon name="chevron-left" />
                <span>Quitter</span>
            </a>
        </p>
    </form>
</AdminLayout>

<style lang="scss">
    input {
        @apply px-4 rounded-md border-2 border-primary/10 font-light text-sm;
    }
</style>