---
import { ProjectNature } from "@lib/ProjectNature";
import { Icon } from "astro-icon/components";
import MainLayout from "@layouts/MainLayout.astro";
import Hamburger from "@components/Hamburger.astro";
import Earth from "@components/svelte/Earth.svelte";
import SpaceSection from "../components/SpaceSection.astro";
import Button from "../components/Button.astro";
import Project from "../components/Project.astro";

const example_project: ProjectType = {
    name: "Space Visitor",
    slug: "space-visitor",
    description: "Un jeu 3D dans lequel le joueur vole dans le Système Solaire avec sur son passage les planètes, dont la Terre, et le Soleil.",
    summary: "Un jeu 3D dans lequel le joueur vole dans le Système Solaire avec sur son passage les planètes, dont la Terre, et le Soleil.",
    presentation_picture: 0,
    pictures: ["/exemple-space-visitor.png"],
    technologies: [{
        name: "ThreeJS",
        logo: "/logos/ThreeJS.svg",
    }, {
        name: "ThreeJS",
        logo: "/logos/ThreeJS.svg",
    }, {
        name: "ThreeJS",
        logo: "/logos/ThreeJS.svg",
    }],
    team_members: 20,
    nature: ProjectNature.SCHOOL,
    date: "2023",
};
---

<MainLayout title="Portfolio de Thomas Gysemans">
    <nav class="flex justify-between px-main">
        <div class="flex items-center space-x-6">
            <a href="/">
                <img src="/logo.png" alt="Logo de ScienceSky.fr" class="max-w-32">
            </a>
            <h1 class="font-extrabold text-4xl leading-normal">Thomas<br>Gysemans</h1>
        </div>
        <div class="flex items-center space-x-8">
            <div class="flex items-center space-x-5">
                <a href="#" class="lang-link active">
                    <Icon name="french-flag" class="text-3xl" />
                    <span class="font-bold">FR</span>
                </a>
                <a href="#" class="lang-link">
                    <Icon name="uk-flag" class="text-3xl" />
                    <span class="font-bold">EN</span>
                </a>
            </div>
            <span class="font-bold text-xl">MENU</span>
            <Hamburger />
        </div>
    </nav>
    <main class="mt-16 px-main relative">
        <div class="space-y-8">
            <b class="text-2xl">Je suis...</b>
            <ul class="list-disc list-inside space-y-4 text-xl">
                <li class="flex items-center space-x-2"><span class="text-2xl">&bull;</span><strong>Développeur web</strong><Icon name="globe" /></li>
                <li class="flex items-center space-x-2"><span class="text-2xl">&bull;</span><strong>Développeur d'applications</strong><Icon name="smartphone" /></li>
                <li class="flex items-center space-x-2"><span class="text-2xl">&bull;</span><strong>UI/UX Designer</strong><Icon name="flower-2" /></li>
            </ul>
            <div class="flex items-center space-x-6">
                <Button as="a" href="/projects">En savoir plus</Button>
                <a class="text-primary text-2xl opacity-80 hover:opacity-100 transition-opacity" aria-label="Mon compte GitHub" title="Mon compte GitHub" href="https://github.com/ThomasGysemans" target="_blank"><Icon name="github" /></a>
                <a class="text-primary text-2xl opacity-80 hover:opacity-100 transition-opacity" aria-label="Mon compte LinkedIn" title="Mon compte LinkedIn" href="https://fr.linkedin.com/in/thomas-gysemans-950536268" target="_blank"><Icon name="linkedin" /></a>
            </div>
        </div>
        <div class="absolute z-10 top-12 right-0">
            <div class="bg-primary max-w-96 py-2 px-3 rounded-md absolute -top-[16%] -left-[15%]">
                <div class="absolute -bottom-[20px] right-12 w-0 h-0 border-l-[15px] border-l-transparent border-t-[20px] border-t-primary border-r-[15px] border-r-transparent" />
                <p class="text-white font-light">
                    Je suis passionné d’informatique, mais aussi d’astronomie, j’ai ainsi combiné mes passions pour réaliser ce modèle 3D en utilisant
                    <a href="https://threejs.org/" target="_blank" class="underline">ThreeJS</a> et <a href="https://threlte.xyz/" target="_blank" class="underline">Threlte</a> !
                </p>
            </div>
            <Earth client:idle />
        </div>
    </main>
    <SpaceSection />
    <section class="flex flex-col justify-center space-y-20 pb-40">
        <h2 class="text-primary text-3xl text-center">Mes projets récents</h2>
        <div class="grid grid-cols-[repeat(auto-fit,minmax(280px,380px))] gap-10 place-content-center place-items-center px-main">
            <Project project={example_project} />
            <Project project={example_project} />
            <Project project={example_project} />
        </div>
        <div class="flex justify-center">
            <Button as="a" href="/projects">En savoir plus</Button>
        </div>
    </section>
</MainLayout>

<style lang="scss">
    .lang-link {
        @apply flex items-center space-x-2 opacity-40 hover:opacity-100 transition-opacity;

        &.active {
            @apply opacity-100;
        }
    }
</style>