---
import MainLayout from "@/layouts/MainLayout.astro";
import ShowCaseCanvas from "@/components/svelte/ShowCaseCanvas.svelte";
import { Icon } from "astro-icon/components";
---

<MainLayout title="Projects">
    <div class="relative">
        <ShowCaseCanvas client:idle />
        <div class="absolute-center text-white text-center space-y-8">
            <h2 class="text-4xl">ScienceSky v5</h2>
            <p class="max-w-[600px] leading-6">ScienceSky est la raison pour laquelle j’ai débuté la programmation. Chaque année je travaille dessus pour le perfectionner au fur et à mesure que mes compétences s’élargissent. Il permet à chacun de rédiger ses propres articles de vulgarisation scientifique et de les publier librement.</p>
            <p><a href="/projects/sciencesky" class="underline">En savoir plus</a></p>
            <div class="flex justify-center items-center space-x-4">
                <button type="button">
                    <Icon name="chevron-left" />
                </button>
                <button type="button" class="piece active" />
                <button type="button" class="piece" />
                <button type="button" class="piece" />
                <button type="button">
                    <Icon name="chevron-right" />
                </button>
            </div>
        </div>
    </div>
</MainLayout>

<style lang="scss">
    .piece {
        @apply rounded-[50%] bg-white/10 border-[1px] border-white w-3 h-3;

        &.active {
            @apply bg-white;
        }
    }
</style>