---
import ShowCaseCarousel from "../components/svelte/ShowCaseCarousel.svelte";
import PageLayout from "@/layouts/PageLayout.astro";
import { Icon } from "astro-icon/components";

const number_of_projects = 6;
---

<PageLayout title="Portfolio de Thomas Gysemans - Vitrine de mes projets principaux">
    <div class="relative">
        <ShowCaseCarousel client:idle {number_of_projects}>
            {Array(number_of_projects).fill(undefined).map((_, i) => (
                <div class="cell" role="tabpanel" aria-roledescription="diapositive" aria-label=`${i + 1} sur ${number_of_projects}`>
                    <div class="px-4 w-full h-full py-16 space-y-4">
                        <h2 class="text-2xl text-center w-full">ScienceSky v5</h2>
                        <div class="cell-details flex flex-col items-center space-y-4">
                            <p class="text-sm w-full inline-block">Une plateforme de vulgarisation scientifique française ouverte à tous !</p>
                            <button type="button" class="carousel-btn">
                                En savoir plus
                            </button>
                        </div>
                    </div>
                </div>
            ))}
        </ShowCaseCarousel>
        <div class="absolute z-20 top-0 left-O w-full h-dvh custom-bg pointer-events-none" />
        <nav class="absolute z-30 top-20 left-[50%] -translate-x-[50%] w-full grid grid-cols-3 place-items-center place-content-center">
            <p class="text-white text-lg flex items-center space-x-4">
                <Icon name="chevron-left" />
                <a href="/" class="hover:underline">Quitter</a>
            </p>
            <h1 class="text-white text-center text-3xl">Vitrine de mes<br/>meilleurs projets</h1>
            <p class="text-white text-lg flex items-center space-x-4">
                <a href="/projects" class="hover:underline">Tous mes projets</a>
                <Icon name="chevron-right" />
            </p>
        </nav>
        <div class="absolute bottom-16 left-[50%] -translate-x-[50%] z-30">
            <a href="/projects" class="carousel-btn">Voir tous mes projets</a>
        </div>
    </div>
</PageLayout>

<style lang="scss">
    .cell-details {
        transition: opacity 200ms ease;
    }

    .custom-bg {
        background: radial-gradient(circle, rgba(#000,0) 0%, rgba(#000,.6) 99%, rgba(#000,0) 100%);
    }
</style>