---
import { Icon } from "astro-icon/components";

interface Props {
    src: string,
    alt: string,
    interactive: boolean,
    borderless: boolean,
}

const { src, alt, interactive, borderless } = Astro.props;
---

<div>
    <p class="opacity-75 flex space-x-1 items-center italic text-sm">
        <Icon name="camera" />
        <span>Capture d'écran</span>
    </p>
    <div class={`w-full h-full ${interactive ? 'cursor-pointer' : ''} ${borderless ? "" : "border rounded-sm"}`} data-interactive={interactive}>
        <img src={src} alt={alt} class="w-full h-full object-cover rounded-md" />
    </div>
</div>