---
import type { FullProject } from '@db/models';
import Project from './Project.astro';

interface Props {
    id?: string,
    centered?: boolean,
    projects: FullProject[],
}

const { projects, id, centered } = Astro.props;
const centeredClass = centered ? "place-content-center" : "max-lg:place-content-center";
---

<div {id} class={`grid grid-cols-[repeat(auto-fit,minmax(260px,320px))] lg:grid-cols-[repeat(auto-fit,minmax(280px,380px))] gap-10 ${centeredClass} px-main my-12`}>
    {projects.map((p) => <Project project={p} />)}
</div>
