---
import Button from "./Button.astro";
import SpaceSectionTrailer from "./SpaceSectionTrailer.astro";
import { Icon } from "astro-icon/components";
---

<section class="relative py-[35%] flex justify-between overflow-x-hidden" id="space-section">
    <img src="/space-background.svg" class="select-none pointer-events-none w-full absolute top-0 left-0 -z-10" alt="" id="space-section-bg">
    <article class="max-w-[50%] min-w-[200px] px-main space-y-8">
        <p class="text-white leading-9 text-xl">Je suis réellement passionné d’informatique. Je n’attends pas que l’école m’enseigne ce qui m’intéresse. Grâce à ma curiosité et ma passion je me forme en autodidacte depuis mes 13 ans et je continue à consolider mes compétences tous les jours.</p>
        <p class="text-white leading-9 text-xl">Ces extraits vidéo sont tirés d’un jeu web en 3D que j’ai créé, “SpaceVisitor”, entièrement réalisé avec <a class="underline" href="https://threejs.org" target="_blank">ThreeJS</a> et <a class="underline" href="https://threlte.xyz" target="_blank">Threlte</a>.</p>
        <div class="flex items-center space-x-6">
            <Button as="a" href="https://spacevisitor.sciencesky.fr" target="_blank">Jouer au jeu</Button>
            <a class="text-white text-2xl opacity-80 hover:opacity-100 transition-opacity" aria-label="Mon compte GitHub" title="Repo GitHub" href="https://github.com/ThomasGysemans/SpaceVisitor" target="_blank"><Icon name="github" /></a>
        </div>
    </article>
    <SpaceSectionTrailer />
</section>

<script type="module">
    const space_section = document.querySelector("#space-section");
    const space_section_bg = space_section.querySelector("#space-section-bg");
    const max_height = space_section_bg.clientHeight;
    const sparkles = [];

    for (let i = 0; i < (max_height > 1500 ? 40 : 25); i++) {
        const sparkle = document.createElement("img");
        sparkle.src = "/sparkle.svg";
        sparkle.width = 20;
        sparkle.height = 20;
        sparkle.style.position = "absolute";
        sparkle.style.left = (Math.floor(Math.random() * space_section.clientWidth)) + "px";
        sparkle.style.top = (Math.floor(Math.random() * max_height)) + "px";
        sparkle.style.transform = `rotate(${Math.floor(Math.random() * 180)}deg)`;
        sparkles.push(sparkle);
    }

    const sparkle_container = document.createElement("div");
    sparkles.forEach(s => sparkle_container.appendChild(s));
    space_section.appendChild(sparkle_container);
</script>