---
import "@styles/tailwind.scss";
import Hamburger from "../components/Hamburger.astro";
import { Icon } from "astro-icon/components";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="fr" class="text-primary">
    <head>
        <meta charset="utf-8">
        <link rel="icon" type="image/svg+xml" href="/favicon.svg">
        <meta name="viewport" content="width=device-width">
        <meta name="generator" content={Astro.generator}>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap">
        <title>{title}</title>
    </head>
    <body class="pt-16">
        <img src="/polygon-background.svg" class="fixed top-0 left-0 w-full h-dvh -z-20 object-cover pointer-events-none" alt="">
        <nav class="flex justify-between px-main">
            <div class="flex items-center space-x-6">
                <a href="/">
                    <img src="/logo.png" alt="Logo de ScienceSky.fr" class="max-w-32">
                </a>
            <h1 class="font-extrabold text-4xl leading-normal">Thomas<br>Gysemans</h1>
            </div>
            <div class="flex items-center space-x-8">
                <div class="flex items-center space-x-5">
                    <a href="#" class="lang-link active">
                        <Icon name="french-flag" class="text-3xl" />
                        <span class="font-bold">FR</span>
                    </a>
                    <a href="#" class="lang-link">
                        <Icon name="uk-flag" class="text-3xl" />
                        <span class="font-bold">EN</span>
                    </a>
                </div>
                <span class="font-bold text-xl">MENU</span>
                <Hamburger />
            </div>
        </nav>
        <div>
            <slot />
        </div>
    </body>
</html>

<style lang="scss">
    .lang-link {
        @apply flex items-center space-x-2 opacity-40 hover:opacity-100 transition-opacity;

        &.active {
            @apply opacity-100;
        }
    }
</style>