---
import { Icon } from "astro-icon/components";
import PageLayout from "./PageLayout.astro";
import PolygonBackground from "@components/PolygonBackground.astro";

interface Props {
    title: string;
    nested?: boolean;
}

const { title, nested = false } = Astro.props;
---

<PageLayout title={title}>
    <div class="pt-16 text-primary">
        <PolygonBackground />
        <nav class="flex justify-between px-main">
            <div class="flex items-center space-x-6">
                {nested ? (
                    <a href="/projects" class="flex items-center space-x-2 text-lg">
                        <Icon name="chevron-left" />
                        <span class="underline">Retour</span>
                    </a>
                ) : (
                    <a href="/">
                        <img src="/logo.png" alt="Logo de ScienceSky.fr" class="max-w-28">
                    </a>
                    <h1 class="font-extrabold text-3xl leading-normal">Thomas<br>Gysemans</h1>
                )}
            </div>
            <div class="flex items-center space-x-8">
                <div class="flex items-center space-x-5">
                    <a href="#" class="lang-link active">
                        <Icon name="french-flag" class="text-3xl" />
                        <span class="font-bold">FR</span>
                    </a>
                    <a href="#" class="lang-link group">
                        <Icon name="uk-flag" class="text-3xl grayscale group-hover:grayscale-0" />
                        <span class="font-bold">EN</span>
                    </a>
                </div>
                <a href="/showcase" class="py-2 rounded-md text-primary font-bold text-lg work-btn">
                    VITRINE DE MES PROJETS
                </a>
            </div>
        </nav>
        <div>
            <slot />
        </div>
    </div>
</PageLayout>

<style lang="scss">
    .lang-link {
        @apply flex items-center space-x-2 opacity-40 hover:opacity-100 transition-opacity;

        &.active {
            @apply opacity-100;
        }
    }

    .work-btn {
        display: inline-block;
        position: relative;
        text-decoration: none;
        z-index: 1;

        &::after {
            content: '';
            position: absolute;
            z-index: -1;
            left: 0;
            bottom: .07em;
            height: .15em;
            width: 100%;
            border-radius: 10px;
            transition: background-size 300ms ease;
            background-size: 100% 100%;

            @apply bg-gradient-to-r from-primary via-primary-light to-primary;
        }

        &:hover::after {
            background-size: 200% 200%;
        }
    }
</style>