---
import AdminLayout from "@layouts/AdminLayout.astro";
import Project from "@components/admin/Project.astro";
---

<AdminLayout title="Portfolio - Ajouter un projet">
    <div class="flex w-full">
        <Project />
    </div>
</AdminLayout>