---
import { DAOProject } from "@db/models/DAOProject";
import { DAOSkills } from "@db/models/DAOSkills";
import AdminLayout from "@layouts/AdminLayout.astro";
import ProjectForm from "@components/svelte/ProjectForm.svelte";

const slug = Astro.url.searchParams.get("slug");
const project = slug === null ? null : await DAOProject.find(slug);
const projectDoesNotExist = project === undefined;
const showcaseCount = await DAOProject.countShowcase();
const skills = await DAOSkills.list();
console.log(project)
---

<AdminLayout title="Portfolio - Ajouter un projet">
    {!projectDoesNotExist ? (
        <ProjectForm
            client:load
            project={project}
            showcaseCount={showcaseCount}
            skills={skills}
        />
    ) : (
        <p>Ce projet n'existe pas</p>
    )}
</AdminLayout>
